.git
.gitignore

.github

.vscode
.idea

node_modules

vendor

tests

storage/logs

storage/framework/cache

storage/framework/views

storage/framework/sessions

storage/debugbar

bootstrap/cache/*.php

.env
.env.*

coverage

phpunit.result.cache

docker-compose.yml
compose.yaml

README.md
