* text=auto eol=lf

# Impede o Git de alterar quebras de linha em ficheiros JSON e de ambiente
*.json -text
.env -text

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
